.formanimated {
  background-image: linear-gradient(45deg, #444 29%, #400922 50%, #222 70%);
  background-size: 400%;
  background-position: 0% 0%;
  transition: all 2s cubic-bezier(0.19, 1, 0.22, 1);

}

.formanimated:has(#firstfield:valid) {
  background-position: 50% 0%;
}

.formanimated:has(#firstfield:invalid) .seconddiv {
  visibility: hidden;
  opacity: 0;
  transition: all 2s cubic-bezier(0.19, 1, 0.22, 1);
}

.formanimated:has(#firstfield:valid) .seconddiv {
  visibility: visible;
  opacity: 1;
  transition: all 2s cubic-bezier(0.19, 1, 0.22, 1);
}

.formanimated:has(#secondfield:valid) {
  background-position: 100% 0%;
}
